<!DOCTYPE html>
<html lang="en">
<head>
	<h2> Vijayawada Branch Home Page </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>

<style>

	body{
		background:#1abc9c;
		}

	h2{
			text-align:center;
			background:white;
			color:black;
			font-family:sans-serif;
	}
	#tab{
			margin-left:32.5%;
			margin-top:8px;
			width:11%;
			padding:4px;
	}
	#tab1{
			margin-top:8px;
			width:11%;
			padding:4px;
	}
	#tab2{
			margin-top:8px;
			width:11%;
			padding:4px;
	}

	#btn{
			margin-left:45%;
			width:9%;
			margin-top:2%;
			padding:3px;
	}

</style>

<body>
	<input type="button" onClick="location.href='http://localhost:5000/branch3_doctors'"  id="tab" value = "Doctor" />
    <input type="button" onClick="location.href='http://localhost:5000/branch3_patient'" id="tab1" value = "Patient"/>
    <input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/statuspage3.html?_ijt=uj5e8jqrrvr5k0fc6lueepvh29'" id="tab2" value = "Health Status"/>
	<input type="button" onclick="location.href='http://localhost:5000/home3'" id="btn" value="Log out"/>
</body>

