<!DOCTYPE html>
<html lang="en">
<head>
	<h2> Chittoor Branch Home Page </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>

<style>
	body{
		background:#1abc9c;
	}
	h2{
			text-align:center;
			background:white;
			color:black;
			font-family:sans-serif;
	}
	#tab{
			margin-left:32.5%;
			margin-top:8px;
			width:11%;
			padding:4px;
	}
	#tab1{
			margin-top:8px;
			width:11%;
			padding:4px;
	}
	#tab2{
			margin-top:8px;
			width:11%;
			padding:4px;
	}

	#btn{
			margin-left:45%;
			width:9%;
			margin-top:2%;
			padding:3px;
	}

</style>

<body>
	<input type="button" onClick="location.href='http://localhost:5000/branch2_doctors'"  id="tab" value = "Doctor" />
    <input type="button" onClick="location.href='http://localhost:5000/branch2_patient'" id="tab1" value = "Patient"/>
    <input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/statuspage2.html?_ijt=pupivm4gs77qa2ttugvmqj0497'" id="tab2" value = "Health Status"/>
	<input type="button" onclick="location.href='http://localhost:5000/home2'" id="btn" value="Log out"/>
</body>

