<!DOCTYPE html>

<html>
<head>
	<h2> Vijayawada Branch Doctors List </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>

<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">
	h2{
		text-align:center;
		background: #1abc9c;
		font-family:sans-serif;
	}

	th:tr{
		color: blue;

	}
	tr:nth-of-type(2n){
		border: 1px solid black;
		background-color: rgba(150, 150, 150, 0.5);
		background: #1abc9c;
	}

	td{
		padding: 8px 8px;
		border: 1px solid black;
	}
	#tb1{
			width:10%;
			margin-bottom:8px;
	}
	#tb2{
			width:10%;
			margin-bottom:8px;
	}
	#tab{
			margin-left:35.1%;
			margin-top:8px;
			width:10%;
	}
</style>

<body>

	<a href="http://localhost:63342/Dbms_pro/templates/dashboard3.html?_ijt=fke25h269cheph53de9al2jnc7"><button id="tab">Back</button></a>

        <a href="http://localhost:63342/Dbms_pro/templates/doctor3.html?_ijt=fke25h269cheph53de9al2jnc7"><button id="tb1"> Add </button></a>

		<a href="
http://localhost:63342/Dbms_pro/templates/search_doctor3.html?_ijt=rk71lpnlj3drg94b28k0c6u83h"><button id="tb2"> Search </button></a>


<table style="margin-left: 21%;">
<!-- Table headers -->
	<th>
		<tr style="color: black; ">
		<td>Doctor id</td>
		<td>First name</td>
		<td> Last name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Date of birth</td>
			<td>Salary</td>
			<td>Experience</td>
			<td>Qualification</td>
			<td>Mobile</td>
			<td>Dateofjoin</td>

</tr>
	</th>

{% for details in details %}
<tr>
	<td>{{ details[0]}}</td>
	<td>{{details[1]}}</td>
	<td>{{details[2]}}</td>
	<td>{{details[3]}}</td>
	<td>{{details[4]}}</td>
	<td>{{details[5]}}</td>
	<td>{{details[6]}}</td>
	<td>{{details[7]}}</td>
	<td>{{details[8]}}</td>
	<td>{{details[9]}}</td>
	<td>{{details[10]}}</td>
{% endfor %}
</tr>

</table>

</body>

</html>

