<!DOCTYPE html>
<html lang="en">
<head>
	<h2> LOGIN </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>
<style>
		h2{
			text-align:center;
			background:#FFFFFF;
		}
		#s{
			margin-left:4%;
		}

		body{
			text-align:center;
		}
</style>
<body>
	<form action= "http://localhost:5000/login3" method = "post" autocomplete="off">
	<p>username :<input type="text" name = "id"/></p>
		<p>password:<input type="password" name="password"/></p>
		<p><button id="s">Submit</button></p>
	</form>
</body>
</html>