<!DOCTYPE html>
<html lang="en">
<head>
	<h2> COVID-19 PATIENT HEALTH STATUS OF VISAKHAPATNAM BRANCH </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>
<style>
		#btn
		{
			margin-top:4%;
			margin-left:44.5%;
			width:10%;
		}
		#button{
			margin-top:2%;
			margin-left:35%;
			width:9%;
		}
		#button1{
				margin-top:2%;
				width:10%;
		}
</style>
<body>
	<input type="button" onClick="location.href='http://localhost:5000/recovered_status'"  id="button" value = "Recovered" />
    <input type="button" onClick="location.href='http://localhost:5000/patient_status'" id="button1" value = "On Going"/>
	<input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/search_status.html?_ijt=aqdf0t75i48n51vko5vn07okjo'" id="button1" value = "Search"/>
    <input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/dashboard1.html?_ijt=v2sffti5f6edlqbbqsr93hprlr'" id="btn" value = "Back"/>
</body>
