<!DOCTYPE html>
<html lang="en">
<head>
	<h2> Covid-19 Patient Health Status Of Chittoor Branch </h2>
	<link rel = "stylesheet" type = "text/css" href = "style.css">
</head>
<style>
		#btn
		{
			margin-top:4%;
			margin-left:44.5%;
			width:10%;
		}
		#button{
			margin-top:2%;
			margin-left:35%;
			width:9%;
		}
		#button1{
				margin-top:2%;
				width:10%;
		}
</style>
<body>
	<input type="button" onClick="location.href='http://localhost:5000/recovered_statusb2'"  id="button" value = "Recovered" />
    <input type="button" onClick="location.href='http://localhost:5000/patient_statusb2'" id="button1" value = "On Going"/>
	<input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/search_statusb2.html?_ijt=pupivm4gs77qa2ttugvmqj0497'" id="button1" value = "Search"/>
    <input type="button" onClick="location.href='http://localhost:63342/Dbms_pro/templates/dashboard2.html?_ijt=j7v2lsv6vjtvd6rb0kj7saq3qi'" id="btn" value = "Back"/>
</body>
